---
title: "About Me"
layout: default
permalink: "/about"
---

<div class="container">

  <h4 class="font-weight-bold spanborder">
    <span>{{page.title}}</span>
  </h4>

  <div class="row">
    <div class="col-lg-8">
      <div class="mb-5 d-flex justify-content-between ">
        <div class="col-4 col-md-3 pl-0">
          <img class="w-100" src="{{ site.baseurl }}/assets/images/self.jpg" alt="james-leung">
        </div>
        <div class="col-8 col-md-9 pl-3">
          <p class="self-intro">
            {{ site.data.author_info.about }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <h4 class="font-weight-bold spanborder">
    <span>My education</span>
  </h4>

  {% for degree in site.data.degrees %}
    <div class="row">
      <div class="col-lg-8">
        <div class="mb-5 d-flex justify-content-between main-loop-card">
          <div class="col-8 col-md-9 pr-3">
            <h2 class="mb-1 h4 font-weight-bold">
              {{ degree.title }}
              at
              {{ degree.school }}
            </h2>
            <p class="text-muted">
              Graduated in
              {{ degree.graduation-date | date: '%b, %Y' }}
            </p>
            <p class="excerpt">
              {{ degree.description }}
            </p>
          </div>
          {% if degree.image %}
            <div class="col-4 col-md-3 pr-0 text-right">
              <a href="{{degree.image-url}}">
                <img class="w-100" src="{{ site.baseurl }}/assets/images/{{ degree.image }}" alt="{{ degree.school }}">
              </a>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
  {% endfor %}
</div>
