---
title: "My education"
layout: default
permalink: "/education.html"
---

<div class="container">
  <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>

  {% for degree in site.data.degrees %}
  <div class="col-md-8">
    <div class="mb-5 d-flex justify-content-between main-loop-card">
      <div class="pr-3">
        <h2 class="mb-1 h4 font-weight-bold">
          {{ degree.title }} at {{ degree.school }}
        </h2>
        <p class="text-muted">
          Graduated in {{ degree.graduation-date | date: '%b, %Y' }}
        </p>
        <p class="excerpt">
          {{ degree.description }}
        </p>
      </div>
      {% if degree.image %}
      <div class="col-md-3 pr-0 text-right">
        <!-- Replace with school URL's -->
        <a href="{{degree.image-url}}">
          <img class="w-100" src="{% if degree.image contains "://" %}{{
          degree.image }}{% else %}{{ site.baseurl }}/{{ degree.image }}{% endif
          %}" alt="{{ degree.school }}">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
